<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Batti-Papo | Login</title>
</head>
<body class="cap-page">
    <div id="sideNav" class="sidenav">
        <a href="javascript:void(0)" class="btn-fecha" onclick="fechaNav()">&times;</a>
        <div class="header-title">
            <a class="logo" href="../"> Olá, Usuário! </a>
        </div>
        <div class="header-menu">
            <ul>
                <li><a href="/"> <i class="fa fa-home"></i> Home</a></li>
                <li><a href="/search"> <i class="fa fa-search"></i> Explorar </a></li>
                <li><a href="/post/list"> <i class="fa fa-rss"></i> Feed </a></li>
                <li><a href="#"> <i class="fa fa-user"></i> Meu Perfil </a></li>
                <li><a id="theme-toggle" onclick="darkmode()"> <i class="fa fa-regular fa-lightbulb"></i>  Alterar Tema </a></li>

            </ul>

        <div class="header-menu-low">
            <ul>
                <li><a th:href="@{/logout}"> <i class="fa fa-sign-out"></i> Desconectar </a></li>
            </ul>
        </div>
        </div>
    </div>

    <a class="abre-btn" onclick="abreNav()"> &lt; / &gt; Syntax <i class="fa fa-bars"></i>  </a>

<div th:if="${isSaved}" class="alerta-sucesso">
    <h4> Cadastro realizado, bem-vindo ao Batti-Papo </h4> <i class="fa fa-check-square"></i> 
  </div>

  <div th:if="${isError}" class="alerta-falha">
    <h4> A Operação Falhou... </h4>
    <label th:text="#{errorMsg}"></label>
  </div>
<form id="form" class="user-add" th:action="@{/usuario/save}" method="POST" th:object="${usuario}">

    <h1> Vem pra Syntax &lt; / &gt; você também!  </h1>

    <hr>

    <div class="container-input">
        <input th:field="*{username}" type="text" name="username" id="username" minlength="3" maxlength="16" required>
        <label for="username"> Nome de Usuário </label>
    </div>

    <div class="container-input">
        <input th:field="*{nome}" type="text" name="nome" id="nome" required>
        <label for="nome"> Nome </label>
    </div>

    <div class="container-input">
        <input th:field="*{sobrenome}" type="text" name="sobrenome" id="sobrenome" required>
        <label for="sobrenome"> Sobrenome </label>
    </div>

    <div class="container-input">
        <input th:field="*{email}" type="email" name="email" id="email" required>
        <label for="email"> Email </label>
    </div>

    <div class="container-input">
        <input th:field="*{idade}" type="number" name="idade" id="idade" required>
        <label for="idade"> Idade </label>
    </div>

    <div class="container-input">
        <input th:field="*{senha}" type="password" name="senha" id="senha" minlength="8" required>
        <label for="senha"> Senha </label>
    </div>

    <div class="container-input">
        <input type="password" name="confirma-senha" id="confirma-senha" minlength="8" required>
        <label for="confirma-senha"> Confirme a Senha </label>
        <p id="outputSenha"></p>
    </div>
               
<button type="submit" onclick="confirmaSenha()"  class="btn">Cadastrar</button>
</form>
<footer class="footer">
    <a href="../" class="logo">&lt; / &gt; Syntax </a> <br>
    <p>&copy; 2022.</p>
</footer>
</body>
<script src="../js/index.js"></script>
</html>