<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media='screen and (max-width: 410px)' href="../css/style2.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title> Home | Batti-Papo</title>
</head>
<body class="cap-page">
    <header class="header">
        <div class="header-title">
            <a class="logo" href="../"> Undefined </a>
        </div>
        <div class="header-menu">
            <ul>
                <li><a class="link" href="/"> <i class="fa fa-home"></i> Home</a></li>
                <li><a class="link" href="/search"> <i class="fa fa-search"></i> Explorar </a></li>
                <li><a class="link" href="/usuario/add"> <i class="fa fa-user"></i> Meu Perfil </a></li>
            </ul>
        </div>
    </header>
    <main>

        <header class="capture">
            <h3> Bem-vindo ao Projeto da SA que está sem nome no momento! </h3> <br>
            <h5> Você vem sempre aqui? </h5>
            <p> Se sim, </p> <a href="usuario/login"> Entre agora </a> </p> <br>
            <p> Se não,</p> <h5> Conheça o Projeto da SA que está sem nome no momento!</h5>
        </header>

        <h3 th:inline="text"> Olá, [[${#httpServletRequest.remoteUser}]] </h3>
        <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Desconectar">
        </form>
</main>
<footer class="footer">
    <a href="../" class="logo"> Undefined </a>
</footer>
</body>
<script src="../js/index.js"></script>
</html>