<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{img/syntax-logo.png}" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title> Home | &lt/&gtSyntax</title>
</head>
<body class="cap-page">
    <div id="sideNav" class="sidenav">
        <a href="javascript:void(0)" class="btn-fecha" onclick="fechaNav()">&times;</a>
        <div class="header-title">
            <a class="logo" href="../"> &lt/&gtSyntax </a>
        </div>
        <div class="header-menu">
            <ul>
                <li><a href="/"> <i class="fa fa-home"></i> Home</a></li>
                <li><a href="/post/list"> <i class="fa fa-rss"></i> Feed </a></li>
                <li><a href="#"> <i class="fa fa-user"></i> Meu Perfil </a></li>
                <li><a id="theme-toggle" onclick="darkmode()"> <i class="fa fa-regular fa-lightbulb"></i>  Alterar Tema </a></li>
            </ul>

        <div class="header-menu-low">
                <span> Syntax, feita por <span class="highlight"> desenvolvedores </span> , para <span class="highlight"> desenvolvedores. </span> </span> <br>
                <a href=""></a><i> </i>
        </div>
        </div>
    </div>

    <a class="abre-btn" onclick="abreNav()"> &lt; / &gt; Syntax <i class="fa fa-bars"></i>  </a>

    <main id="main">
        
        
        <header class="capture">
            <h3> Bem-vindo à &lt/&gtSyntax</h3> <br>
            <span> A rede feita por  <span class="highlight"> desenvolvedores </span>,
             para <span class="highlight"> desenvolvedores </span> </span>
        </header>
        <div class="cp-row">
        <div class="cp">
            <i class="fa-brands fa-react"></i>
            <h3>Poste seus códigos</h3>
            <p>E deixe a comunidade interagir!</p>
        </div>
        <div class="cp">
            <i class="fa-solid fa-laptop"></i>
            <h3>Divulgue seus trabalhos! </h3>
            <p>Mostre o quão interessante você é!</p>
        </div>
        <div class="cp">
            <i class="fa-solid fa-mobile"></i>
            <h3>Qual sua dúvida?</h3>
            <p>Pergunte a vontade, Aceitamos DEVs de todas Stacks aqui!</p>
        </div>
        <div class="cp">
            <i class="fa-brands fa-codepen"></i>
            <h3>Edite diretamente</h3>
            <p>Temos integração com o Codepen, Edite os códigos diretamente nos comentários!</p>
        </div>
        <div class="cp">
            <i class="fa-solid fa-code"></i>
            <h3>Reaja aos códigos de seus amigos!</h3>
            <p>Mostre sua habilidade ajudando as pessoas!</p>
        </div>
        <div class="cp">
            <i class="fa-solid fa-shield-halved"></i>
            <h3>Fique tranquilo!</h3>
            <p> Seus dados estão protegidos e o Ambiente da Syntax é monitorado. </p>
        </div>
        </div>

    <div class="capture-bottom">
    <h3> Tá esperando o quê? <br> Acesse agora mesmo!</h3>
    <button onclick="window.location.href='/usuario/add'"> Registre-se agora! </button>
    </div>
</main>
<footer class="footer">
    <a href="../" class="logo">Syntax©2022.</a>
</footer>
</body>
<script src="../js/index.js"></script>
</html>