<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title> Home | Batti-Papo</title>
</head>
<body class="cap-page">
    <div id="sideNav" class="sidenav">
        <a href="javascript:void(0)" class="btn-fecha" onclick="fechaNav()">&times;</a>
        <div class="header-title">
            <a class="logo" href="../"> Olá, Usuário! </a>
        </div>
        <div class="header-menu">
            <ul>
                <li><a href="/"> <i class="fa fa-home"></i> Home</a></li>
                <li><a href="/search"> <i class="fa fa-search"></i> Explorar </a></li>
                <li><a href="/post/list"> <i class="fa fa-rss"></i> Feed </a></li>
                <li><a href="#"> <i class="fa fa-user"></i> Meu Perfil </a></li>
                <li><a id="theme-toggle" onclick="darkmode()"> <i class="fa fa-moon"></i>  Alterar Tema </a></li>
            </ul>

        <div class="header-menu-low">
            <ul>
                <li><a th:href="@{/logout}"> <i class="fa fa-sign-out"></i> Desconectar </a></li>
            </ul>
        </div>

        <!-- <a href="../" class="logo"> Undefined </a>
        <p> Undefined foi desenvolvido com muito ódio no coração... </p> -->
        </div>
    </div>

    <a class="abre-btn" onclick="abreNav()"> <i class="fa fa-bars"></i>  </a>

    <!-- <header class="header">
        <div class="header-title">
            <a class="logo" href="../"> Undefined </a>
        </div>
        <div class="header-menu">
            <ul>
                <li><a class="link" href="/"> <i class="fa fa-home"></i> Home</a></li>
                <li><a class="link" href="/search"> <i class="fa fa-search"></i> Explorar </a></li>
                <li><a class="link" href="/usuario/add"> <i class="fa fa-user"></i> Meu Perfil </a></li>
            </ul>
        </div>
    </header> -->
    <main id="main">

        <header class="capture">
            <h3> Bem-vindo ao Projeto da SA que está sem nome no momento! </h3> <br>
            <h5> Você vem sempre aqui? </h5>
            <p> Se sim, </p> <a href="usuario/login"> Entre agora </a> </p> <br>
            <p> Se não,</p> <h5> Conheça o Projeto da SA que está sem nome no momento!</h5>
        </header>


        <h3> </h3>
        <div class="cp-row">
        <div class="cp">
            <i class="fa fa-star"></i>
            <h3>Uma plataforma única</h3>
            <p> A Batti-Papo é uma plataforma especial... <br> Por que sim.</p>
        </div>
        <div class="cp">
            <i class="fa fa-hand-peace"></i>
            <h3> A rede social mais pacífica do mundo </h3>
            <p>Talvez, quem sabe não é? <br> Hmm, não é não.</p>
        </div>
        <div class="cp">
            <i class="fa fa-users"></i>
            <h3>Para toda a família</h3>
            <p> É mentira, se você tem menos de 16 anos e está no Batti-Papo, <br> a Pílicia Federal está atrás de você... </p>
        </div>
        <div class="cp">
            <i class="fa fa-star"></i>
            <h3>Uma plataforma única</h3>
            <p> A Undefined é uma plataforma especial... <br> Por que sim.</p>
        </div>
        <div class="cp">
            <i class="fa fa-hand-peace"></i>
            <h3> A rede social mais pacífica do mundo </h3>
            <p>Talvez, quem sabe não é? <br> Hmm, não é não.</p>
        </div>
        <div class="cp">
            <i class="fa fa-users"></i>
            <h3>Para toda a família</h3>
            <p> É mentira, se você tem menos de 16 anos e está na Undefined, <br> a Pílicia Federal está atrás de você... </p>
        </div>
    </div>
    <div class="capture-bottom">
    <h3> Tá esperando o quê? <br> Venha para a Undefined Early Access agora mesmo! </h3>
    <button onclick="window.location.href='/usuario/add'"> Registre-se agora! </button>
    </div>
</main>
<footer class="footer">
    <a href="../" class="logo"> Undefined </a>
</footer>
</body>
<script src="../js/index.js"></script>
</html>