<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title> Home | Batti-Papo</title>
</head>
<body>
    <header class="header">
        <div class="header-title">
            <a class="logo" href="../"> Batti-Papo </a>
        </div>
        <div class="header-menu">
            <ul>
                <li><button id="theme-toggle" onclick="darkmode()"> <i class="fa fa-moon"></i> </button></li>
                <li><a class="link" href="/"> <i class="fa fa-home"></i> Home</a></li>
                <li><a class="link" href="/search"> <i class="fa fa-search"></i> Explorar </a></li>
                <li><a class="link" href="/usuario/add"> <i class="fa fa-user"></i> Meu Perfil </a></li>
            </ul>
        </div>
    </header>
    <main>
        <!-- <div id="sidenav" class="sidenav">
            <a href="javascript:void(0)" class="fecha-btn" onclick="fechaNav()">&times;</a>
            <span class="logo"> Batti-Papo </span>
            <a class="link" href="#"> <i class="fa fa-cog"></i> Configurações </a>
            <a class="link" href="#"> <i class="fa fa-building"></i> Trabalhe com a Batti-Papo </a>
            <a class="link" href="#" > <i class="fa fa-sign-out"></i> Sair </a>
            <hr>
            <p> Batti-Papo é uma realização de Alguém e idealizado por Alguém. <br> Batti-Papo. Todos os direitos reservados. &copy; 2022. </p>
        </div>

        <button class="abre-btn" onclick="abreNav()">&#9776;</button> -->

        <div class="capture">
            <h3> Bem-vindo, Testador! </h3>
            <h5> Vamos batter &trade; um papo? </h5>
        
        </div>
        <div class="cp-row">
        <div class="cp">
            <i class="fa fa-star"></i>
            <h3>Uma plataforma única</h3>
            <p> A Batti-Papo é uma plataforma especial... <br> Por que sim.</p>
        </div>
        <div class="cp">
            <i class="fa fa-hand-peace"></i>
            <h3> A rede social mais pacífica do mundo </h3>
            <p>Talvez, quem sabe não é? <br> Hmm, não é não.</p>
        </div>
        <div class="cp">
            <i class="fa fa-users"></i>
            <h3>Para toda a família</h3>
            <p> É mentira, se você tem menos de 16 anos e está no Batti-Papo, <br> a Pílicia Federal está atrás de você... </p>
        </div>
    </div>
    <div class="capture-bottom">
    <h3> Tá esperando o quê? <br> Venha para a Batti-Papo ALPHA agora mesmo! </h3>
    <button onclick="window.location.href='/usuario/add'"> Registre-se agora! </button>
    </div>
</main>
</body>
<script src="../js/index.js"></script>
</html>